#header {
  padding: 20px 0px;
}

.header-itens {
  font-size: 0.812rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
}

.header-itens .menu{
  display: none;
}

.header-itens li {
  display: flex;
  align-items: center;
}

.header-itens img {
  cursor: pointer;
}

.logo-header img {
  margin-right: 100px;
}

.input-header input{
  width: 700px;
  display: block;
  min-width: 80%;
  border: none;
  border-bottom: 1px solid var(--cor-cinza);
  padding: 10px 0px;
  font-size: 18px;
}

.input-header img {
  position: relative;
  left: -20px;
  bottom: -5px;
  cursor: pointer;
}

.header-itens a {
  display: block;
  padding: 5px;
  color: var(--cor-cinza);
}

.cart-header img {
  padding: 5px;
}

.cart-count {
  background: var(--cor-destaque);
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}