.newsletter {
  text-align: center;
  background: #F2F2F2;
  padding: 24px 0;
}

.newsletter.false {
  display: none;
}

.newsletter h2 {
  font-size: 1.38rem;
  font-family: var(--lato);
  font-weight: bold;
}

.formulario {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.formulario input {
  padding: 16px;
  font-family: var(--lato);
  font-weight: bold;
  margin: 16px 8px 5px auto;
  width: 280px;
  font-size: .75rem;
  border: none;
  border-radius: 5px;
}

.inputdata {
  display: flex;
  text-align: left;
}

form.formulario.invalido input.fill {
  border: 1px solid #D7182A;
}

.errorpost {
  opacity: 0;
}

.errorpost.invalido {
  opacity: 1;
  display: block;
  font-size: .75rem;
  color: #D7182A;
  font-family: var(--lato);
  margin-left: 5px;
}

.formulario input::placeholder {
  font-family: var(--lato);
  font-weight: bold;
}

.formulario .btn-newsletter {
  width: 140px;
  max-height: 48px;
  background: black;
  color: white;
  font-size: .875rem;
  cursor: pointer;
  transition: .3s;
}

.formulario .btn-newsletter:hover {
  background: #333333;
}
