@import './header.css';
@import './slide.css';
@import './produtos-slides.css';
@import './newsletter.css';
@import './footer.css';
@import './cadastro.css';
@import './mobile.css';

:root {
  --nunito: 'Nunito', arial, helvetica, sans-serif;
  --lato: 'Lato', arial, helvetica, sans-serif;
  --cor-destaque: #F8475F;
  --cor-cinza: #7A7A7A;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--nunito);
}
