:root {
  --nunito: 'Nunito', arial, helvetica, sans-serif;
  --lato: 'Lato', arial, helvetica, sans-serif;
  --cor-destaque: #F8475F;
  --cor-cinza: #7A7A7A;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--nunito);
}

#text {
  display: none;
}

#header {
  padding: 20px 0px;
}

.header-itens {
  font-size: 0.812rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
}

.header-itens li {
  display: flex;
  align-items: center;
}

.header-itens img {
  cursor: pointer;
}

.logo-header img {
  margin-right: 100px;
}

.input-header input{
  width: 700px;
  display: block;
  min-width: 80%;
  border: none;
  border-bottom: 1px solid var(--cor-cinza);
  padding: 10px 0px;
  font-size: 18px;
}

.input-header img {
  position: relative;
  left: -20px;
  bottom: -5px;
  cursor: pointer;
}

.header-itens a {
  display: block;
  padding: 5px;
  color: var(--cor-cinza);
}

.cart-header img {
  padding: 5px;
}

.cart-count {
  background: var(--cor-destaque);
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.slide-home {
  position: relative;
}

.slides {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.glider-slide {
  cursor: pointer;
}

picture {
  position: relative;
}

picture img{
  margin: auto;
  width: 100vw;
}

.slide-title {
  position: absolute;
  z-index: 3;
  margin: 0 auto;
  top: 30%;
  left: 15%;
  color: white;
  font-weight: 900;
  font-size: 2.875rem;
}

.slide-title p {
  font-size: 1.875rem;
  font-weight: bold;
}

.glider-dots {
  display: flex;
  align-items: center;
  position: absolute;
  top: 82%;
  right: 47%;
}

.glider-dot {
  background: #BDBDBD;
}

.glider-dot.active {
  background: var(--cor-destaque);
}

.produtos-container {
  margin: 25px auto;
}

.produtos-container h3 {
  font-weight: 900;
  font-size: 1.25rem;
}

.produtos-container span.divisor {
  display: block;
  margin: 10px 0px;
  width: 65px;
  height: 4px;
  background: #C0c0c0;
}

.swiper-button-prev,
.swiper-button-next{
  color: black;
  width: 5px;
  height: 5px;
  
}

.swiper {
  max-width: 1300px;
  margin: 0 auto 0 auto;
}

.text-products {
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 216px;
  margin-left: 50px;
  transition: .2s;
}

.product-box:hover .button-buy {
  opacity: 1;
}

.product-box:hover {
  background: #E6E8EA;
}

div.off {
  display: block;
  position: absolute;
  z-index: 15;
  right: -85px;
  top: -85px;
  background: #F8475F;
  width: 170px;
  height: 160px;
  clip-path: polygon(50% 50%, 50% 100%, 0 50%);
}

div.off p {
  position: absolute;
  top: 100px;
  left: 45px;
  color: #FFF;
  z-index: 40;
  font-weight: 900;
}

.title-products {
  font-family: var(--nunito);
  font-size: .75rem;
  font-weight: 600;
  color: #7A7A7A;
  margin: 8px 0 5px 0;
}

.lastprice {
  text-decoration: line-through;
  color: #7A7A7A;
  font-size: .75rem;
}

.products-price {
  font-weight: bold;
  font-size: 1.25rem;
}

.havePrice {
  font-weight: 400;
  font-size: .69rem;
  color: #7A7A7A;

}

.button-buy {
  color: white;
  display: inline-block;
  font-family: var(--nunito);
  background: black;
  padding: 8px 28px;
  border-radius: 5px;
  margin: 10px 0px 15px 0px;
  font-weight: bold;
  font-size: .75rem;
  opacity: 0;
}

.newsletter {
  text-align: center;
  background: #F2F2F2;
  padding: 24px 0;
}

.newsletter h2 {
  font-size: 1.38rem;
  font-family: var(--lato);
  font-weight: bold;
}

.formulario {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}


.formulario input {
  padding: 16px;
  font-family: var(--lato);
  font-weight: bold;
  margin: 16px 8px 5px auto;
  width: 280px;
  font-size: .75rem;
  border: none;
  border-radius: 5px;
}

.inputdata {
  display: flex;
  text-align: left;
}

form.formulario.invalido input.fill {
  border: 1px solid #D7182A;
}

.errorpost {
  opacity: 0;
}

.errorpost.invalido {
  opacity: 1;
  display: block;
  font-size: .75rem;
  color: #D7182A;
  font-family: var(--lato);
  margin-left: 5px;
}

.formulario input::placeholder {
  font-family: var(--lato);
  font-weight: bold;
}

.formulario .btn-newsletter {
  width: 140px;
  max-height: 48px;
  background: black;
  color: white;
  font-size: .875rem;
  cursor: pointer;
  transition: .3s;
}

.formulario .btn-newsletter:hover {
  background: #333333;
}

.footer {
  width: 100%;
  background: #000;
  color: white;
  padding: 25px 10px;
}

.footer-container {
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-container h2 {
  font-family: var(--nunito);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-container .divisor {
  display: block;
  width: 45px;
  height: 5px;
  background: #FFf;
  margin-bottom: 24px;
}

.contato ul li + li {
  margin: 10px 0;
}

.buttons-contact button,
.buttons-contact button img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-contact {
  width: 195px;
  display: block;
  height: 100%;
  margin: auto;
}

.buttons-contact button {
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 5px;
  font-size: .75rem;
  font-family: var(--nunito);
  font-weight: 500;
}

.buttons-contact button + button {
   margin-top: 25px;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.copyright div + div {
  margin-left: 25px;
}
